/* Estilos para a página inteira */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilos para o cabeçalho */
h1 {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilos para os passos */
.step {
    display: inline-block;
    width: 30%;
    margin: 10px;
    background-color: #b2dbff;
    padding: 10px;
    border: 1px solid #66a3ff;
    vertical-align: top;
}

/* Estilos para os títulos dos passos */
.step-title {
    background-color: #66a3ff;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
